.ingredient {
  margin: 0px 5px;
  border: 1px solid black;
  border-radius: 25px;
  padding: 1px 10px;
  height: 1.5rem;
  position: relative;
  top: 70px;
  margin-bottom: 10px;
  background-color: #82a6a6;
}
