ul {
  list-style-type: none;
}
img {
  border-radius: 10%;
}

.Card {
  width: 32%;
  align-items: center;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  font-size: small;
  margin: 5px;
  height: 250px;
  -webkit-box-shadow: 0px 5px 20px 2px rgba(117, 117, 117, 1);
  -moz-box-shadow: 0px 5px 20px 2px rgba(117, 117, 117, 1);
  box-shadow: 0px 5px 20px 2px rgba(117, 117, 117, 1);

}
.Card:hover {
  transform: translate3D(0,-1px,0) scale(1.03);
}
.ExpandedCard:hover {
  transform: translate3D(0,-1px,0) scale(1.03);
}
.ExpandedCard {
  width: 32%;
  transition: height 0.3s ease;
  align-items: center;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  font-size: small;
  margin: 5px;
  -webkit-box-shadow: 0px 5px 33px 2px rgba(117, 117, 117, 1);
  -moz-box-shadow: 0px 5px 33px 2px rgba(117, 117, 117, 1);
  box-shadow: 0px 5px 33px 2px rgba(117, 117, 117, 1);
}
.ExpandedCard .middle-bar {
  height: 200px;
}

.card-interactions {
  margin-bottom: 5px;
}

@media (max-width: 800px) {
  .Card {
    flex-direction: column;
    width: 100%;
    margin-top: 4%;
    height: 25%;
  }
  .ExpandedCard {
    flex-direction: column;
    width: 100%;
    margin-top:4%;
  }
  .show-recipe {
    position: absolute;
  }
  
  .ExpansionBlock {

  }
}
.caution-data {
  border-right: 1px solid lightgray;
  width: 25%;
  margin-top: 5px;
}

.ExpansionBlock {
  background-color: #EDDBC0;
  width: 100%;

  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  display: flex;
}

.diet-data {
  border-right: 1px solid lightgray;
  width: 25%;
  margin-top: 5px;
}

.extra-data {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: row;
  background-color: #EDDBC0;
}

.health-data {
  margin-top: 5px;
  width: 25%;
}

.ingredients {
  border-right: 1px solid lightgray;
  width: 50%;
}

.image-container {
  width: 33%;
}
.compress {
  position: relative;
  left: 50%;
  cursor: pointer;
  transform: translate(-50%,0);
}
.image-container.compressed {
  margin: 5px;
  width: 50%;
  height: 90%;
}

.image-container.expanded {
  width: 50%;
}

.image-container img {
  width: 100%;
  height: 100%;
}

.middle-bar {
  width:100%;
  min-height: 192px;
  align-items: center;
  height: 192px;
  display: flex;
  flex-direction: row;
  background-color: #DBC8AC;
  justify-content: center;
}

.recipe-name {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #82a6a6;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
}

.vital-data {
  border-right: 1px solid lightgray;
  width: 25%;
}
.recipe-name-text {
  margin-bottom: 5px;
  margin-top: 5px;
  max-height: 23px;
}