.input-container {
  display: flex;
  background-color: white;
  border-radius: 10px;
  height: 30px;
  margin: 10px;
  text-align: center;
}

.form-container {
  display: flex;
  justify-content: center;
}

#auto {
  display: flex;
  justify-content: center;
}

.suggestion {
  border-right: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  display: flex;
  border-radius: 5px 5px 5px 5px;
  height: 32px;
  text-align: center;
  font-size: 16px;
  justify-content: center;
  margin: auto;
}

.suggestion:hover {
  background-color: aquamarine;
}

.moreDietRes svg {
  display: none;
}
