.accountInfo {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border-radius: 10px;
  box-shadow: 0 27px 55px 0 rgba(173, 212, 244, 0.3),
    0 17px 17px 0 rgba(73, 65, 65, 0.15);
}

.profile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.name {
  display: flex;
  gap: 2rem;
  padding: 0 1 rem;
}

.title {
  float: left;
}

.data {
  display: flex;

}

.val {
  float: right;
}

input[type="checkbox"] {
  display: inline-block;
}