.accountInfo {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border-top: 2px solid black;
  padding: 10px
}

.profile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.profile-container h3 {
  box-shadow: 0 27px 55px 0 rgb(166 205 238 / 30%), 0 17px 17px 0 rgb(199 220 229 / 15%);
  font-family: "Caveat";
  src: local("Caveat"), url(/src/assets/Caveat-Regular.ttf) format("truetype");
  margin: 0;
  text-shadow: 1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
  color: #f2c57c !important;
  background-image: linear-gradient(to left, #9a3c65, #f10410);
  background-clip: text;
  -webkit-background-clip: text;
}

.name {
  display: flex;
  gap: 2rem;
  padding: 0 1 rem;
}

.title {
  float: left;
}

.data {
  display: flex;

}

.val {
  float: right;
}

input[type="checkbox"] {
  display: inline-block;
}