.recentlyViewed {
  height: 260px;
  width: 100%;
  flex-wrap: wrap;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: 0 27px 55px 0  rgba(166, 205, 238, 0.3),
    0 17px 17px 0 rgba(199, 220, 229, 0.15);
}