.search-bar-container {
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
  min-height: 3.5rem;
  margin: 0 auto 1rem auto;
}
.SearchPage {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.search-bar {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  min-height: 50%;
  justify-content: center;
  align-content: flex-start;
  flex-grow: 1;
  margin-bottom: 28px;
}

.search-bar svg {
  display: none;
}

.suggestions {
  margin: 0.5rem;
  border-radius: 15%;
  height: 1.5rem;
}

.predictive-text {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  margin: auto;
  margin-top: 30px;
  border: 1px solid black;
  background-color: #f2f2f2;
  border-radius: 10px;
  padding: 10px;
}

.search-form {
  position: absolute;
  /* top: 0; */
  z-index: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.searchinput {
  display: flex;
  background-color: white;
  border-radius: 10px;
  height: 30px;
  margin: 10px;
  text-align: center;
}



@media screen and (min-width: 768px) {
  .searchinput {
    width: 400px;
  }
}

@media screen and (max-width: 767px) {
  .searchinput {
    width: calc(100% - 20px);
    padding: 0 10px;
    font-size: 16px;
  }
}

h1 {
  text-align: center;
}