.filters-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px auto 0.5rem auto;
  margin-top: 22.5px
}

.filters-predictive-container {
  margin-top: 0.5rem;
  padding-top: 0.5rem;
  border-top: 1px solid grey;
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
}

.filters-container svg {
  display: none;
}

.filters-container input {
  display: flex;
  background-color: white;
  border-radius: 10px;
  height: 30px;
  text-align: center;
}