body {
 
  overflow-x: hidden;
}

h1 {
  font-family: "Caveat";
  src: local("Caveat"), url("./assets/Caveat-Regular.ttf") format("truetype");
  padding-top: 10px;
  margin: 0;
  text-shadow: 1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
  color: #f2c57c !important;
  background-image: linear-gradient(to left, #9a3c65, #f10410);
  background-clip: text;
  -webkit-background-clip: text;
}

@font-face {
  font-family: "Caveat";
  src: local("Caveat"), url("./assets/Caveat-Regular.ttf") format("truetype");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, sans-serif;
}
